@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");

* {
  color: white;
}
.form-container {
  margin: 13%;
  margin-bottom: -10%;
}
.nomeclatura {
  padding-right: 3.5%;
}
#background-video {
  margin-top: 10%;
  width: 100vw;
  height: 100vh;
  object-fit: cover;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: -1;
  filter: sepia(20%) saturate(20%) brightness(20%) hue-rotate(190deg);
}

.input {
  background-color: transparent;
  color: white;
}

.input::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: white;
  opacity: 1; /* Firefox */
}

.input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

.input::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}
